<h1>Hola Soy un {{nombre}} {{apellido}}</h1>
<h2>Hola soy el alumno {{alumno.nombre}} {{alumno.apellido}}</h2>
<h3>Hola soy un h2</h3>


<input type="text" [(ngModel)]="inputNuevo" />
<p>{{inputNuevo}}</p>
<label for="">correo 
    <input type="text" (ngModelChange)="escribirCorreo()" [(ngModel)]= "correo" />
</label>
<label for="">Contraseña
    <input type="password" (keydown)= "ingresar($event)" [(ngModel)]= "password" />
</label>
<br/><br/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdjizX5fil-Klb_6VUthMXX9i-9NqhmBaTBw&usqp=CAU" 
(mouseenter)="cambiarTamano($event)" 
(mouseleave)="incrementarTamano($event)" alt=""/>
<br/>